%tr
  %td.chart あ
  %td.chart い
  %td.chart う
  %td.chart え
  %td.chart お
  %td.chart か
  %td.chart き
  %td.chart く
  %td.chart け
  %td.chart こ
  %td.chart さ
  %td.chart し
  %td.chart す
  %td.chart せ
  %td.chart そ
  %td.chart た
  %td.chart ち
  %td.chart つ
  %td.chart て
  %td.chart と
  %td.chart な
  %td.chart に
  %td.chart ぬ
  %td.chart ね
  %td.chart の
  %td.chart は
  %td.chart ひ
  %td.chart ふ
  %td.chart へ
  %td.chart ほ