.btn-change-status {

}
.navbar .nav .dropdown-toggle .caret {
  margin: 0 auto;
}
.container {
  padding: 15px;
}

.col-user {
  text-align: center;
}

.user-name {
  text-align: center;
  /*display: block;*/
}

.task_table_head {
  background: #7A5A74;
  color: #FCFCFC;
  font-size: 12px;
}

.table {
  background: #fff
}

.task_table_head > th {
  text-align: center;
  line-height: 1;
}

.task_table > tbody > tr > td {
  padding: 5px;
  vertical-align: middle;
  line-height: 1;
}


.chart {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

